#@ I2C Pins on B-Connector
NET "B_IO<11>" PULLUP;
NET "B_IO<12>" PULLUP;

#@ ADC Core Constraints
############################################################################
#TIMESPEC TS_clk40 = PERIOD "clk40" 25 ns; NET "ADCs/clk40" TNM_NET = "clk40";
NET "*ADCs_Unit/Des_ADC1/DCM_ctrl/DCO_des" TNM_NET = "DCO_des"; 
NET "*ADCs_Unit/Des_ADC2/DCM_ctrl/DCO_des" TNM_NET = "DCO_des"; 
TIMESPEC TS_DCO_des = PERIOD "DCO_des" 4.17 ns; 
NET "*ADCs_Unit/Des_ADC1/DCM_ctrl/FCO_des" TNM_NET = "FCO_des"; 
NET "*ADCs_Unit/Des_ADC2/DCM_ctrl/FCO_des" TNM_NET = "FCO_des";
TIMESPEC TS_FCO_des = PERIOD "FCO_des" 25 ns; 

TIMESPEC TS_sclk = PERIOD "sclk" 100 ns; 
NET "*appFE/sclk" TNM_NET = "sclk";
#NET "ADCs/clk_refiod" 	TNM_NET = clk_refiod; TIMESPEC TS_clk_refiod = PERIOD "clk_refiod" 5 ns;
#NET "ADCLK_P" IOSTANDARD = LVDS_25;
#NET "ADCLK_N" IOSTANDARD = LVDS_25;
# ADCs
#NET "DCO1_N" IOSTANDARD = LVDS_25;
#NET "DCO1_P" IOSTANDARD = LVDS_25;
#NET "DCO2_N" IOSTANDARD = LVDS_25;
#NET "DCO2_P" IOSTANDARD = LVDS_25;
#NET "FCO1_N" IOSTANDARD = LVDS_25;
#NET "FCO1_P" IOSTANDARD = LVDS_25;
#NET "FCO2_N" IOSTANDARD = LVDS_25;
#NET "FCO2_P" IOSTANDARD = LVDS_25;
#NET "DCH1_P" IOSTANDARD = LVDS_25;
#NET "DCH1_N" IOSTANDARD = LVDS_25;
#NET "DCH2_P" IOSTANDARD = LVDS_25;
#NET "DCH2_N" IOSTANDARD = LVDS_25;
#NET "DCH3_P" IOSTANDARD = LVDS_25;
#NET "DCH3_N" IOSTANDARD = LVDS_25;
#NET "DCH4_P" IOSTANDARD = LVDS_25;
#NET "DCH4_N" IOSTANDARD = LVDS_25;
#NET "DCH5_P" IOSTANDARD = LVDS_25;
#NET "DCH5_N" IOSTANDARD = LVDS_25;
#NET "DCH6_P" IOSTANDARD = LVDS_25;
#NET "DCH6_N" IOSTANDARD = LVDS_25;
#NET "DCH7_P" IOSTANDARD = LVDS_25;
#NET "DCH7_N" IOSTANDARD = LVDS_25;
#NET "DCH8_P" IOSTANDARD = LVDS_25;
#NET "DCH8_N" IOSTANDARD = LVDS_25;
#NET "DCH9_P" IOSTANDARD = LVDS_25;
#NET "DCH9_N" IOSTANDARD = LVDS_25;
#NET "DCH10_P" IOSTANDARD = LVDS_25;
#NET "DCH10_N" IOSTANDARD = LVDS_25;
#NET "DCH11_P" IOSTANDARD = LVDS_25;
#NET "DCH11_N" IOSTANDARD = LVDS_25;
#NET "DCH12_P" IOSTANDARD = LVDS_25;
#NET "DCH12_N" IOSTANDARD = LVDS_25;
#NET "DCH13_P" IOSTANDARD = LVDS_25;
#NET "DCH13_N" IOSTANDARD = LVDS_25;
#NET "DCH14_P" IOSTANDARD = LVDS_25;
#NET "DCH14_N" IOSTANDARD = LVDS_25;
#NET "DCH15_P" IOSTANDARD = LVDS_25;
#NET "DCH15_N" IOSTANDARD = LVDS_25;
#NET "DCH16_P" IOSTANDARD = LVDS_25;
#NET "DCH16_N" IOSTANDARD = LVDS_25;
#################################################################################
########################## AsignaciA3n de pines ##################################
#################################################################################
# EEPROM interface
#NET "IO"		  	LOC =	"AB8";
#NET "scl"		LOC =	"AC8";
# ADCs input clk - Differential
#Invertido
#NET "ADCLK_P" LOC = H10;
#NET "ADCLK_N" LOC = H11;
# ADC1
# DCO
NET "*appFE/DCO1_P" CLOCK_DEDICATED_ROUTE = FALSE; 
NET "*appFE/DCO1_N" CLOCK_DEDICATED_ROUTE = FALSE; 
#NET "DCO1_N" LOC = K13; 
#NET "DCO1_P" LOC = J12; # ## FCO #Invertido 
NET "*appFE/FCO1_P" CLOCK_DEDICATED_ROUTE = FALSE; 
NET "*appFE/FCO1_N" CLOCK_DEDICATED_ROUTE = FALSE;
#NET "FCO1_P" LOC = K15;	
#NET "FCO1_N" LOC = J15;	
#
# ENTRADAS DE DATOS
INST "*appFE/ADCs_Unit/Des_ADC1/Des_DCH1/IODELAYE1_DCHp" LOC = IODELAY_X2Y175; 
INST "*appFE/ADCs_Unit/Des_ADC1/Des_DCH1/ISERDESE1_DCHp" LOC = ILOGIC_X2Y175; 
INST "*appFE/ADCs_Unit/Des_ADC1/Des_DCH1/IODELAYE1_DCHn" LOC = IODELAY_X2Y174; 
INST "*appFE/ADCs_Unit/Des_ADC1/Des_DCH1/ISERDESE1_DCHn" LOC = ILOGIC_X2Y174;
#NET "DCH1_P" LOC = B9; 
#NET "DCH1_N" LOC = C9; 
INST "*appFE/ADCs_Unit/Des_ADC1/Des_DCH2/IODELAYE1_DCHp" LOC = IODELAY_X2Y173; 
INST "*appFE/ADCs_Unit/Des_ADC1/Des_DCH2/ISERDESE1_DCHp" LOC = ILOGIC_X2Y173; 
INST "*appFE/ADCs_Unit/Des_ADC1/Des_DCH2/IODELAYE1_DCHn" LOC = IODELAY_X2Y172; 
INST "*appFE/ADCs_Unit/Des_ADC1/Des_DCH2/ISERDESE1_DCHn" LOC = ILOGIC_X2Y172; 
#NET "DCH2_P" LOC = G8; 
#NET "DCH2_N" LOC = G9; 
INST "*appFE/ADCs_Unit/Des_ADC1/Des_DCH3/IODELAYE1_DCHp" LOC = IODELAY_X2Y171; 
INST "*appFE/ADCs_Unit/Des_ADC1/Des_DCH3/ISERDESE1_DCHp" LOC = ILOGIC_X2Y171; 
INST "*appFE/ADCs_Unit/Des_ADC1/Des_DCH3/IODELAYE1_DCHn" LOC = IODELAY_X2Y170; 
INST "*appFE/ADCs_Unit/Des_ADC1/Des_DCH3/ISERDESE1_DCHn" LOC = ILOGIC_X2Y170;
#NET "DCH3_P" LOC = D7;
#NET "DCH3_N" LOC = E7;
INST "*appFE/ADCs_Unit/Des_ADC1/Des_DCH4/IODELAYE1_DCHp" LOC = IODELAY_X2Y169; 
INST "*appFE/ADCs_Unit/Des_ADC1/Des_DCH4/ISERDESE1_DCHp" LOC = ILOGIC_X2Y169; 
INST "*appFE/ADCs_Unit/Des_ADC1/Des_DCH4/IODELAYE1_DCHn" LOC = IODELAY_X2Y168; 
INST "*appFE/ADCs_Unit/Des_ADC1/Des_DCH4/ISERDESE1_DCHn" LOC = ILOGIC_X2Y168; 
#NET "DCH4_P" LOC = H8; 
#NET "DCH4_N" LOC = H9; 
INST "*appFE/ADCs_Unit/Des_ADC1/Des_DCH5/IODELAYE1_DCHp" LOC = IODELAY_X2Y167; 
INST "*appFE/ADCs_Unit/Des_ADC1/Des_DCH5/ISERDESE1_DCHp" LOC = ILOGIC_X2Y167; 
INST "*appFE/ADCs_Unit/Des_ADC1/Des_DCH5/IODELAYE1_DCHn" LOC = IODELAY_X2Y166; 
INST "*appFE/ADCs_Unit/Des_ADC1/Des_DCH5/ISERDESE1_DCHn" LOC = ILOGIC_X2Y166; 
#NET "DCH5_P" LOC = J11; 
#NET "DCH5_N" LOC = J10; 
INST "*appFE/ADCs_Unit/Des_ADC1/Des_DCH6/IODELAYE1_DCHp" LOC = IODELAY_X2Y165; 
INST "*appFE/ADCs_Unit/Des_ADC1/Des_DCH6/ISERDESE1_DCHp" LOC = ILOGIC_X2Y165; 
INST "*appFE/ADCs_Unit/Des_ADC1/Des_DCH6/IODELAYE1_DCHn" LOC = IODELAY_X2Y164; 
INST "*appFE/ADCs_Unit/Des_ADC1/Des_DCH6/ISERDESE1_DCHn" LOC = ILOGIC_X2Y164; 
#NET "DCH6_P" LOC = J7; 
#NET "DCH6_N" LOC = J8; 
INST "*appFE/ADCs_Unit/Des_ADC1/Des_DCH7/IODELAYE1_DCHp" LOC = IODELAY_X2Y163; 
INST "*appFE/ADCs_Unit/Des_ADC1/Des_DCH7/ISERDESE1_DCHp" LOC = ILOGIC_X2Y163; 
INST "*appFE/ADCs_Unit/Des_ADC1/Des_DCH7/IODELAYE1_DCHn" LOC = IODELAY_X2Y162; 
INST "*appFE/ADCs_Unit/Des_ADC1/Des_DCH7/ISERDESE1_DCHn" LOC = ILOGIC_X2Y162; 
#NET "DCH7_P" LOC = K9; 
#NET "DCH7_N" LOC = K10; 
INST "*appFE/ADCs_Unit/Des_ADC1/Des_DCH8/IODELAYE1_DCHp" LOC = IODELAY_X2Y161; 
INST "*appFE/ADCs_Unit/Des_ADC1/Des_DCH8/ISERDESE1_DCHp" LOC = ILOGIC_X2Y161; 
INST "*appFE/ADCs_Unit/Des_ADC1/Des_DCH8/IODELAYE1_DCHn" LOC = IODELAY_X2Y160; 
INST "*appFE/ADCs_Unit/Des_ADC1/Des_DCH8/ISERDESE1_DCHn" LOC = ILOGIC_X2Y160; 
#NET "DCH8_P" LOC = K7; 
#NET "DCH8_N" LOC = L7; 
# 
# 
### ADC2 
### DCO ##Invertido 
NET "*appFE/DCO2_P" CLOCK_DEDICATED_ROUTE = FALSE; 
NET "*appFE/DCO2_N" CLOCK_DEDICATED_ROUTE = FALSE; 
#NET "DCO2_P" LOC = C8; 
#NET "DCO2_N" LOC = B8; 
# 
## FCO 
##Invertido 
NET "*appFE/FCO2_P" CLOCK_DEDICATED_ROUTE = FALSE; 
NET "*appFE/FCO2_N" CLOCK_DEDICATED_ROUTE = FALSE;
#NET "FCO2_P" LOC = D11;	
#NET "FCO2_N" LOC = E12;	
#
##### ENTRADAS DE DATOS
#INST "*appFE/ADCs_Unit/Des_ADC2/Des_DCH1/IODELAYE1_DCHp" LOC = IODELAY_X2Y195; 
INST "*appFE/ADCs_Unit/Des_ADC2/Des_DCH1/ISERDESE1_DCHp" LOC = ILOGIC_X2Y195; 
INST "*appFE/ADCs_Unit/Des_ADC2/Des_DCH1/IODELAYE1_DCHn" LOC = IODELAY_X2Y194; 
INST "*appFE/ADCs_Unit/Des_ADC2/Des_DCH1/ISERDESE1_DCHn" LOC = ILOGIC_X2Y194; 
#NET "DCH9_N" LOC = A9; 
#NET "DCH9_P" LOC = A10; 
 INST "*appFE/ADCs_Unit/Des_ADC2/Des_DCH2/IODELAYE1_DCHp" LOC = IODELAY_X2Y193; 
INST "*appFE/ADCs_Unit/Des_ADC2/Des_DCH2/ISERDESE1_DCHp" LOC = ILOGIC_X2Y193; 
INST "*appFE/ADCs_Unit/Des_ADC2/Des_DCH2/IODELAYE1_DCHn" LOC = IODELAY_X2Y192; 
INST "*appFE/ADCs_Unit/Des_ADC2/Des_DCH2/ISERDESE1_DCHn" LOC = ILOGIC_X2Y192; 
#NET "DCH10_P" LOC = A7; 
#NET "DCH10_N" LOC = B7; 
 INST "*appFE/ADCs_Unit/Des_ADC2/Des_DCH3/IODELAYE1_DCHp" LOC = IODELAY_X2Y191; 
INST "*appFE/ADCs_Unit/Des_ADC2/Des_DCH3/ISERDESE1_DCHp" LOC = ILOGIC_X2Y191; 
INST "*appFE/ADCs_Unit/Des_ADC2/Des_DCH3/IODELAYE1_DCHn" LOC = IODELAY_X2Y190; 
INST "*appFE/ADCs_Unit/Des_ADC2/Des_DCH3/ISERDESE1_DCHn" LOC = ILOGIC_X2Y190; 
#NET "DCH11_P" LOC = H13; 
#NET "DCH11_N" LOC = J13; 
 INST "*appFE/ADCs_Unit/Des_ADC2/Des_DCH4/IODELAYE1_DCHp" LOC = IODELAY_X2Y189; 
INST "*appFE/ADCs_Unit/Des_ADC2/Des_DCH4/ISERDESE1_DCHp" LOC = ILOGIC_X2Y189; 
INST "*appFE/ADCs_Unit/Des_ADC2/Des_DCH4/IODELAYE1_DCHn" LOC = IODELAY_X2Y188; 
INST "*appFE/ADCs_Unit/Des_ADC2/Des_DCH4/ISERDESE1_DCHn" LOC = ILOGIC_X2Y188; 
#NET "DCH12_P" LOC = D8; 
#NET "DCH12_N" LOC = E9; 
 INST "*appFE/ADCs_Unit/Des_ADC2/Des_DCH5/IODELAYE1_DCHp" LOC = IODELAY_X2Y187; 
INST "*appFE/ADCs_Unit/Des_ADC2/Des_DCH5/ISERDESE1_DCHp" LOC = ILOGIC_X2Y187; 
INST "*appFE/ADCs_Unit/Des_ADC2/Des_DCH5/IODELAYE1_DCHn" LOC = IODELAY_X2Y186; 
INST "*appFE/ADCs_Unit/Des_ADC2/Des_DCH5/ISERDESE1_DCHn" LOC = ILOGIC_X2Y186; 
#NET "DCH13_N" LOC = F10; 
#NET "DCH13_P" LOC = G11; 
 INST "*appFE/ADCs_Unit/Des_ADC2/Des_DCH6/IODELAYE1_DCHp" LOC = IODELAY_X2Y185; 
INST "*appFE/ADCs_Unit/Des_ADC2/Des_DCH6/ISERDESE1_DCHp" LOC = ILOGIC_X2Y185; 
INST "*appFE/ADCs_Unit/Des_ADC2/Des_DCH6/IODELAYE1_DCHn" LOC = IODELAY_X2Y184; 
INST "*appFE/ADCs_Unit/Des_ADC2/Des_DCH6/ISERDESE1_DCHn" LOC = ILOGIC_X2Y184; 
#NET "DCH14_P" LOC = E8; 
#NET "DCH14_N" LOC = F9; 
 INST "*appFE/ADCs_Unit/Des_ADC2/Des_DCH7/IODELAYE1_DCHp" LOC = IODELAY_X2Y183; 
INST "*appFE/ADCs_Unit/Des_ADC2/Des_DCH7/ISERDESE1_DCHp" LOC = ILOGIC_X2Y183; 
INST "*appFE/ADCs_Unit/Des_ADC2/Des_DCH7/IODELAYE1_DCHn" LOC = IODELAY_X2Y182; 
INST "*appFE/ADCs_Unit/Des_ADC2/Des_DCH7/ISERDESE1_DCHn" LOC = ILOGIC_X2Y182; 
#NET "DCH15_N" LOC = C10; 
#NET "DCH15_P" LOC = D10; 
 INST "*appFE/ADCs_Unit/Des_ADC2/Des_DCH8/IODELAYE1_DCHp" LOC = IODELAY_X2Y181; 
INST "*appFE/ADCs_Unit/Des_ADC2/Des_DCH8/ISERDESE1_DCHp" LOC = ILOGIC_X2Y181; 
INST "*appFE/ADCs_Unit/Des_ADC2/Des_DCH8/IODELAYE1_DCHn" LOC = IODELAY_X2Y180; 
INST "*appFE/ADCs_Unit/Des_ADC2/Des_DCH8/ISERDESE1_DCHn" LOC = ILOGIC_X2Y180; 
#NET "DCH16_P" LOC = F7; 
#NET "DCH16_N" LOC = G7;
# PlanAhead generated physical constraints #
#INST "*appFE/bufg_dcm0" LOC = BUFGCTRL_X0Y0; 
#INST "*appFE/DCM_ADV_clk" LOC = DCM_ADV_X0Y5; 
#
INST "*appFE/ADCs_Unit/Des_ADC1/DCM_ctrl/MMCM_ADV_des" LOC = MMCM_ADV_X0Y8; 
INST "*appFE/ADCs_Unit/Des_ADC2/DCM_ctrl/MMCM_ADV_des" LOC = MMCM_ADV_X0Y9; 
INST "*appFE/ADCs_Unit/Des_ADC1/DCM_ctrl/bufg_DCO" LOC = BUFGCTRL_X0Y31; 
INST "*appFE/ADCs_Unit/Des_ADC1/DCM_ctrl/BUFR_FCO" LOC = BUFR_X1Y6; 
#INST "*appFE/ADCs_Unit/Des_ADC1/DCM_ctrl/bufg_FCO2" LOC = BUFGCTRL_X0Y24; 
INST "*appFE/ADCs_Unit/Des_ADC2/DCM_ctrl/bufg_DCO" LOC = BUFGCTRL_X0Y30; 
INST "*appFE/ADCs_Unit/Des_ADC2/DCM_ctrl/BUFR_FCO" LOC = BUFR_X1Y4; 
#INST "*appFE/ADCs_Unit/Des_ADC2/DCM_ctrl/bufg_FCO2" LOC = BUFGCTRL_X0Y28; 
############################################################################
