#@ ADC Core Constraints
#TIMESPEC TS_clk_refiod = PERIOD "clk_refiod" 5 ns;
#NET "clk_refiod" TNM_NET = "clk_refiod";

TIMESPEC TS_DCO_des = PERIOD "DCO_des" 4.17 ns;
NET "*ADCs_Unit/Des_ADC1/DCM_ctrl/DCO_des" TNM_NET = "DCO_des";
NET "*ADCs_Unit/Des_ADC2/DCM_ctrl/DCO_des" TNM_NET = "DCO_des";
TIMESPEC TS_FCO_des = PERIOD "FCO_des" 25 ns;
NET "*ADCs_Unit/Des_ADC1/DCM_ctrl/FCO_des" TNM_NET = "FCO_des";
NET "*ADCs_Unit/Des_ADC2/DCM_ctrl/FCO_des" TNM_NET = "FCO_des";

INST "*ADCs_Unit/Des_ADC1/DCM_ctrl/DCM_ADV_DCO" LOC = DCM_ADV_X0Y6;
INST "*ADCs_Unit/Des_ADC2/DCM_ctrl/DCM_ADV_DCO" LOC = DCM_ADV_X0Y7;

INST "*ADCs_Unit/Des_ADC2/DCM_ctrl/bufg_DCO" LOC = BUFGCTRL_X0Y31;
#INST "ADCs_Unit/Des_ADC2/DCM_ctrl/bufg_FCO" LOC = BUFGCTRL_X0Y29;
#INST "ADCs_Unit/Des_ADC2/DCM_ctrl/bufg_FCO2" LOC = BUFGCTRL_X0Y28;
INST "*ADCs_Unit/Des_ADC1/DCM_ctrl/bufg_DCO" LOC = BUFGCTRL_X0Y27;
#INST "ADCs_Unit/Des_ADC1/DCM_ctrl/bufg_FCO" LOC = BUFGCTRL_X0Y25;
#INST "ADCs_Unit/Des_ADC1/DCM_ctrl/bufg_FCO2" LOC = BUFGCTRL_X0Y24;

# ADCs
NET "DCH1_P" IOSTANDARD = LVDS_25;
NET "DCH1_N" IOSTANDARD = LVDS_25;
NET "DCH2_P" IOSTANDARD = LVDS_25;
NET "DCH2_N" IOSTANDARD = LVDS_25;
NET "DCH3_P" IOSTANDARD = LVDS_25;
NET "DCH3_N" IOSTANDARD = LVDS_25;
NET "DCH4_P" IOSTANDARD = LVDS_25;
NET "DCH4_N" IOSTANDARD = LVDS_25;
NET "DCH5_P" IOSTANDARD = LVDS_25;
NET "DCH5_N" IOSTANDARD = LVDS_25;
NET "DCH6_P" IOSTANDARD = LVDS_25;
NET "DCH6_N" IOSTANDARD = LVDS_25;
NET "DCH7_P" IOSTANDARD = LVDS_25;
NET "DCH7_N" IOSTANDARD = LVDS_25;
NET "DCH8_P" IOSTANDARD = LVDS_25;
NET "DCH8_N" IOSTANDARD = LVDS_25;
NET "DCH9_P" IOSTANDARD = LVDS_25;
NET "DCH9_N" IOSTANDARD = LVDS_25;
NET "DCH10_P" IOSTANDARD = LVDS_25;
NET "DCH10_N" IOSTANDARD = LVDS_25;
NET "DCH11_P" IOSTANDARD = LVDS_25;
NET "DCH11_N" IOSTANDARD = LVDS_25;
NET "DCH12_P" IOSTANDARD = LVDS_25;
NET "DCH12_N" IOSTANDARD = LVDS_25;
NET "DCH13_P" IOSTANDARD = LVDS_25;
NET "DCH13_N" IOSTANDARD = LVDS_25;
NET "DCH14_P" IOSTANDARD = LVDS_25;
NET "DCH14_N" IOSTANDARD = LVDS_25;
NET "DCH15_P" IOSTANDARD = LVDS_25;
NET "DCH15_N" IOSTANDARD = LVDS_25;
NET "DCH16_P" IOSTANDARD = LVDS_25;
NET "DCH16_N" IOSTANDARD = LVDS_25;
# ADCs input clk - Differential
#Invertido
NET "ADCLK_P" LOC = E10;
NET "ADCLK_N" LOC = F10;

NET "ADCLK_P" IOSTANDARD = LVDS_25;
NET "ADCLK_N" IOSTANDARD = LVDS_25;

# El tipo de puerto está definido más arriba (LVDS_25)
# ADC1
# DCO
#Invertido
NET "DCO1_N" CLOCK_DEDICATED_ROUTE = FALSE;
NET "*ADCs_Unit/DCO1_N" LOC = C7;
NET "*ADCs_Unit/DCO1_P" LOC = C6;

# FCO
#NET "FCO1_P" LOC = F24;
#NET "FCO1_N" LOC = G24;


# ENTRADAS DE DATOS
#Invertido
INST "*ADCs_Unit/Des_ADC1/Des_DCH1/IODELAY_DCHn" LOC = IODELAY_X2Y186;
INST "*ADCs_Unit/Des_ADC1/Des_DCH1/ISERDES_DCHn" LOC = ILOGIC_X2Y186;
NET "*ADCs_Unit/DCH1_N" LOC = B9;
NET "*ADCs_Unit/DCH1_P" LOC = C8;

INST "*ADCs_Unit/Des_ADC1/Des_DCH2/IODELAY_DCHn" LOC = IODELAY_X2Y176;
INST "*ADCs_Unit/Des_ADC1/Des_DCH2/ISERDES_DCHn" LOC = ILOGIC_X2Y176;
NET "*ADCs_Unit/DCH2_P" LOC = D9;
NET "*ADCs_Unit/DCH2_N" LOC = D10;

#Invertido
INST "*ADCs_Unit/Des_ADC1/Des_DCH3/IODELAY_DCHn" LOC = IODELAY_X1Y170;
INST "*ADCs_Unit/Des_ADC1/Des_DCH3/ISERDES_DCHn" LOC = ILOGIC_X1Y170;
NET "*ADCs_Unit/DCH3_N" LOC = E13;
NET "*ADCs_Unit/DCH3_P" LOC = E12;

#Invertido
INST "*ADCs_Unit/Des_ADC1/Des_DCH4/IODELAY_DCHn" LOC = IODELAY_X2Y164;
INST "*ADCs_Unit/Des_ADC1/Des_DCH4/ISERDES_DCHn" LOC = ILOGIC_X2Y164;
NET "*ADCs_Unit/DCH4_N" LOC = B12;
NET "*ADCs_Unit/DCH4_P" LOC = C12;

INST "*ADCs_Unit/Des_ADC1/Des_DCH5/IODELAY_DCHn" LOC = IODELAY_X0Y192;
INST "*ADCs_Unit/Des_ADC1/Des_DCH5/ISERDES_DCHn" LOC = ILOGIC_X0Y192;
NET "*ADCs_Unit/DCH5_P" LOC = B15;
NET "*ADCs_Unit/DCH5_N" LOC = C16;

#Invertido
INST "*ADCs_Unit/Des_ADC1/Des_DCH6/IODELAY_DCHn" LOC = IODELAY_X0Y184;
INST "*ADCs_Unit/Des_ADC1/Des_DCH6/ISERDES_DCHn" LOC = ILOGIC_X0Y184;
NET "*ADCs_Unit/DCH6_N" LOC = B19;
NET "*ADCs_Unit/DCH6_P" LOC = C18;

#Invertido
INST "*ADCs_Unit/Des_ADC1/Des_DCH7/IODELAY_DCHn" LOC = IODELAY_X0Y182;
INST "*ADCs_Unit/Des_ADC1/Des_DCH7/ISERDES_DCHn" LOC = ILOGIC_X0Y182;
NET "*ADCs_Unit/DCH7_N" LOC = A20;
NET "*ADCs_Unit/DCH7_P" LOC = B20;

INST "*ADCs_Unit/Des_ADC1/Des_DCH8/IODELAY_DCHn" LOC = IODELAY_X1Y164;
INST "*ADCs_Unit/Des_ADC1/Des_DCH8/ISERDES_DCHn" LOC = ILOGIC_X1Y164;
NET "*ADCs_Unit/DCH8_P" LOC = E20;
NET "*ADCs_Unit/DCH8_N" LOC = E21;


## ADC2
## DCO
#Invertido
NET "DCO2_N" CLOCK_DEDICATED_ROUTE = FALSE;
NET "DCO2_P" LOC = A7;
NET "DCO2_N" LOC = B7;

# FCO
#Invertido
#NET "FCO2_P" LOC = E25;
#NET "FCO2_N" LOC = E26;

### ENTRADAS DE DATOS
#Invertido
INST "*ADCs_Unit/Des_ADC2/Des_DCH1/IODELAY_DCHn" LOC = IODELAY_X2Y190;
INST "*ADCs_Unit/Des_ADC2/Des_DCH1/ISERDES_DCHn" LOC = ILOGIC_X2Y190;
NET "*ADCs_Unit/DCH9_N" LOC = A9;
NET "*ADCs_Unit/DCH9_P" LOC = A8;

#Invertido
INST "*ADCs_Unit/Des_ADC2/Des_DCH2/IODELAY_DCHn" LOC = IODELAY_X2Y172;
INST "*ADCs_Unit/Des_ADC2/Des_DCH2/ISERDES_DCHn" LOC = ILOGIC_X2Y172;
NET "*ADCs_Unit/DCH10_N" LOC = B10;
NET "*ADCs_Unit/DCH10_P" LOC = A10;

#Invertido
INST "*ADCs_Unit/Des_ADC2/Des_DCH3/IODELAY_DCHn" LOC = IODELAY_X0Y196;
INST "*ADCs_Unit/Des_ADC2/Des_DCH3/ISERDES_DCHn" LOC = ILOGIC_X0Y196;
NET "*ADCs_Unit/DCH11_N" LOC = B14;
NET "*ADCs_Unit/DCH11_P" LOC = A13;

INST "*ADCs_Unit/Des_ADC2/Des_DCH4/IODELAY_DCHn" LOC = IODELAY_X0Y194;
INST "*ADCs_Unit/Des_ADC2/Des_DCH4/ISERDES_DCHn" LOC = ILOGIC_X0Y194;
NET "*ADCs_Unit/DCH12_P" LOC = A14;
NET "*ADCs_Unit/DCH12_N" LOC = A15;

#Invertido
INST "*ADCs_Unit/Des_ADC2/Des_DCH5/IODELAY_DCHn" LOC = IODELAY_X0Y188;
INST "*ADCs_Unit/Des_ADC2/Des_DCH5/ISERDES_DCHn" LOC = ILOGIC_X0Y188;
NET "*ADCs_Unit/DCH13_N" LOC = B17;
NET "*ADCs_Unit/DCH13_P" LOC = A17;

INST "*ADCs_Unit/Des_ADC2/Des_DCH6/IODELAY_DCHn" LOC = IODELAY_X0Y186;
INST "*ADCs_Unit/Des_ADC2/Des_DCH6/ISERDES_DCHn" LOC = ILOGIC_X0Y186;
NET "*ADCs_Unit/DCH14_P" LOC = A18;
NET "*ADCs_Unit/DCH14_N" LOC = A19;

#Invertido
INST "*ADCs_Unit/Des_ADC2/Des_DCH7/IODELAY_DCHn" LOC = IODELAY_X0Y172;
INST "*ADCs_Unit/Des_ADC2/Des_DCH7/ISERDES_DCHn" LOC = ILOGIC_X0Y172;
NET "*ADCs_Unit/DCH15_N" LOC = B22;
NET "*ADCs_Unit/DCH15_P" LOC = A22;

INST "*ADCs_Unit/Des_ADC2/Des_DCH8/IODELAY_DCHn" LOC = IODELAY_X0Y170;
INST "*ADCs_Unit/Des_ADC2/Des_DCH8/ISERDES_DCHn" LOC = ILOGIC_X0Y170;
NET "*ADCs_Unit/DCH16_P" LOC = A23;
NET "*ADCs_Unit/DCH16_N" LOC = A24;

#INST "*/ADCs_Unit/IDELAYCTRL_refiod" IODELAY_GROUP = IODELAYGRP_ADC;
#
#INST "*ADCs_Unit/Des_ADC1/Des_DCH1/IODELAY_DCHn" IODELAY_GROUP = IODELAYGRP_ADC;
#INST "*ADCs_Unit/Des_ADC1/Des_DCH2/IODELAY_DCHn" IODELAY_GROUP = IODELAYGRP_ADC;
#INST "*ADCs_Unit/Des_ADC1/Des_DCH3/IODELAY_DCHn" IODELAY_GROUP = IODELAYGRP_ADC;
#INST "*ADCs_Unit/Des_ADC1/Des_DCH4/IODELAY_DCHn" IODELAY_GROUP = IODELAYGRP_ADC;
#INST "*ADCs_Unit/Des_ADC1/Des_DCH5/IODELAY_DCHn" IODELAY_GROUP = IODELAYGRP_ADC;
#INST "*ADCs_Unit/Des_ADC1/Des_DCH6/IODELAY_DCHn" IODELAY_GROUP = IODELAYGRP_ADC;
#INST "*ADCs_Unit/Des_ADC1/Des_DCH7/IODELAY_DCHn" IODELAY_GROUP = IODELAYGRP_ADC;
#INST "*ADCs_Unit/Des_ADC1/Des_DCH8/IODELAY_DCHn" IODELAY_GROUP = IODELAYGRP_ADC;
#
#INST "*ADCs_Unit/Des_ADC2/Des_DCH1/IODELAY_DCHn" IODELAY_GROUP = IODELAYGRP_ADC;
#INST "*ADCs_Unit/Des_ADC2/Des_DCH2/IODELAY_DCHn" IODELAY_GROUP = IODELAYGRP_ADC;
#INST "*ADCs_Unit/Des_ADC2/Des_DCH3/IODELAY_DCHn" IODELAY_GROUP = IODELAYGRP_ADC;
#INST "*ADCs_Unit/Des_ADC2/Des_DCH4/IODELAY_DCHn" IODELAY_GROUP = IODELAYGRP_ADC;
#INST "*ADCs_Unit/Des_ADC2/Des_DCH5/IODELAY_DCHn" IODELAY_GROUP = IODELAYGRP_ADC;
#INST "*ADCs_Unit/Des_ADC2/Des_DCH6/IODELAY_DCHn" IODELAY_GROUP = IODELAYGRP_ADC;
#INST "*ADCs_Unit/Des_ADC2/Des_DCH7/IODELAY_DCHn" IODELAY_GROUP = IODELAYGRP_ADC;
#INST "*ADCs_Unit/Des_ADC2/Des_DCH8/IODELAY_DCHn" IODELAY_GROUP = IODELAYGRP_ADC;

# ADCs control
NET "csb1" LOC = V7;
NET "csb2" LOC = V6;
NET "pwb1" LOC = Y5;
NET "pwb2" LOC = Y6;

NET "sclk" LOC = M6;
NET "sdata" LOC = N7;
NET "resetb" LOC = M7;

# FEC_T0 - ADC iniput digital 3.3V
# Bank 12 - FEC
NET "csb1" IOSTANDARD = LVCMOS33;
NET "csb1" DRIVE = 6;
NET "csb1" SLEW = SLOW;
NET "pwb1" IOSTANDARD = LVCMOS33;
NET "pwb1" DRIVE = 6;
NET "pwb1" SLEW = SLOW;
NET "csb2" IOSTANDARD = LVCMOS33;
NET "csb2" DRIVE = 6;
NET "csb2" SLEW = SLOW;
NET "pwb2" IOSTANDARD = LVCMOS33;
NET "pwb2" DRIVE = 6;
NET "pwb2" SLEW = SLOW;

NET "sclk" IOSTANDARD = LVCMOS33;
NET "sclk" DRIVE = 12;
NET "sclk" SLEW = FAST;
NET "sdata" IOSTANDARD = LVCMOS33;
NET "sdata" DRIVE = 12;
NET "sdata" SLEW = SLOW;
NET "resetb" IOSTANDARD = LVCMOS33;
NET "resetb" DRIVE = 6;
NET "resetb" SLEW = SLOW;

####################################################################################