###############################################################################
###############################################################################
CONFIG PART = xc6vlx130tff784-1;

###############################################################################
###############################################################################
NET  "clk200_p_in"		 	 LOC = "AF10" ;
NET  "clk200_n_in"		 	 LOC = "AE10" ;

###############################################################################
###############################################################################

NET "clk200_in" TNM = clk200_in;
TIMESPEC "TS_clk200_in" = PERIOD "clk200_in" 5 ns HIGH 50%;

NET "clk200" TNM = clk200_ddr;
TIMESPEC "TS_clk200" = PERIOD "clk200" 5 ns HIGH 50%;



#################################################################################
############################## Constraints ######################################
#################################################################################
# Entrada de reloj: 200 MHz
# Reloj Principal: 40 MHz
# Reloj Configuración ADC: 10 MHz
# Reloj Control IODELAYS: 200 MHz
TIMESPEC TS_clk40 = PERIOD "clk40" 25 ns;
NET "clk40" TNM_NET = "clk40";

#TIMESPEC TS_DCO_des = PERIOD "DCO_des" 4.17 ns;
#NET "ADCs/ADCs_Unit/Des_ADC1/DCM_ctrl/DCO_des" TNM_NET = "DCO_des";
#NET "ADCs/ADCs_Unit/Des_ADC2/DCM_ctrl/DCO_des" TNM_NET = "DCO_des";
#TIMESPEC TS_FCO_des = PERIOD "FCO_des" 25 ns;
#NET "ADCs/ADCs_Unit/Des_ADC1/DCM_ctrl/FCO_des" TNM_NET = "FCO_des";
#NET "ADCs/ADCs_Unit/Des_ADC2/DCM_ctrl/FCO_des" TNM_NET = "FCO_des";
#
#TIMESPEC TS_sclk = PERIOD "sclk" 100 ns;
#NET "ADCs/sclk" TNM_NET = "sclk";


NET "ADCLK_P" IOSTANDARD = LVDS_25;
NET "ADCLK_N" IOSTANDARD = LVDS_25;

# ADCs
NET "DCO1_N" IOSTANDARD = LVDS_25;
NET "DCO1_P" IOSTANDARD = LVDS_25;
NET "DCO2_N" IOSTANDARD = LVDS_25;
NET "DCO2_P" IOSTANDARD = LVDS_25;
NET "FCO1_N" IOSTANDARD = LVDS_25;
NET "FCO1_P" IOSTANDARD = LVDS_25;
NET "FCO2_N" IOSTANDARD = LVDS_25;
NET "FCO2_P" IOSTANDARD = LVDS_25;
NET "DCH1_P" IOSTANDARD = LVDS_25;
NET "DCH1_N" IOSTANDARD = LVDS_25;
NET "DCH2_P" IOSTANDARD = LVDS_25;
NET "DCH2_N" IOSTANDARD = LVDS_25;
NET "DCH3_P" IOSTANDARD = LVDS_25;
NET "DCH3_N" IOSTANDARD = LVDS_25;
NET "DCH4_P" IOSTANDARD = LVDS_25;
NET "DCH4_N" IOSTANDARD = LVDS_25;
NET "DCH5_P" IOSTANDARD = LVDS_25;
NET "DCH5_N" IOSTANDARD = LVDS_25;
NET "DCH6_P" IOSTANDARD = LVDS_25;
NET "DCH6_N" IOSTANDARD = LVDS_25;
NET "DCH7_P" IOSTANDARD = LVDS_25;
NET "DCH7_N" IOSTANDARD = LVDS_25;
NET "DCH8_P" IOSTANDARD = LVDS_25;
NET "DCH8_N" IOSTANDARD = LVDS_25;
NET "DCH9_P" IOSTANDARD = LVDS_25;
NET "DCH9_N" IOSTANDARD = LVDS_25;
NET "DCH10_P" IOSTANDARD = LVDS_25;
NET "DCH10_N" IOSTANDARD = LVDS_25;
NET "DCH11_P" IOSTANDARD = LVDS_25;
NET "DCH11_N" IOSTANDARD = LVDS_25;
NET "DCH12_P" IOSTANDARD = LVDS_25;
NET "DCH12_N" IOSTANDARD = LVDS_25;
NET "DCH13_P" IOSTANDARD = LVDS_25;
NET "DCH13_N" IOSTANDARD = LVDS_25;
NET "DCH14_P" IOSTANDARD = LVDS_25;
NET "DCH14_N" IOSTANDARD = LVDS_25;
NET "DCH15_P" IOSTANDARD = LVDS_25;
NET "DCH15_N" IOSTANDARD = LVDS_25;
NET "DCH16_P" IOSTANDARD = LVDS_25;
NET "DCH16_N" IOSTANDARD = LVDS_25;

#################################################################################
########################## Asignación de pines ##################################
#################################################################################

# ADCs input clk - Differential
NET "ADCLK_P" LOC = H11;
NET "ADCLK_N" LOC = H10;

# ADC1
# DCO
NET "DCO1_P" CLOCK_DEDICATED_ROUTE = FALSE;
NET "DCO1_N" CLOCK_DEDICATED_ROUTE = FALSE;
NET "DCO1_P" LOC = J12;
NET "DCO1_N" LOC = K13;
#
## FCO
#Invertido
NET "FCO1_P" CLOCK_DEDICATED_ROUTE = FALSE;
NET "FCO1_N" CLOCK_DEDICATED_ROUTE = FALSE;
NET "FCO1_P" LOC = K15;	
NET "FCO1_N" LOC = J15;	
#
## ENTRADAS DE DATOS
INST "ADCs/ADCs_Unit/Des_ADC1/Des_DCH1/IODELAYE1_DCHp" LOC = IODELAY_X2Y175;
INST "ADCs/ADCs_Unit/Des_ADC1/Des_DCH1/ISERDESE1_DCHp" LOC = ILOGIC_X2Y175;
INST "ADCs/ADCs_Unit/Des_ADC1/Des_DCH1/IODELAYE1_DCHn" LOC = IODELAY_X2Y174;
INST "ADCs/ADCs_Unit/Des_ADC1/Des_DCH1/ISERDESE1_DCHn" LOC = ILOGIC_X2Y174;
NET "DCH1_P" LOC = B9;
NET "DCH1_N" LOC = C9;
#
INST "ADCs/ADCs_Unit/Des_ADC1/Des_DCH2/IODELAYE1_DCHp" LOC = IODELAY_X2Y173;
INST "ADCs/ADCs_Unit/Des_ADC1/Des_DCH2/ISERDESE1_DCHp" LOC = ILOGIC_X2Y173;
INST "ADCs/ADCs_Unit/Des_ADC1/Des_DCH2/IODELAYE1_DCHn" LOC = IODELAY_X2Y172;
INST "ADCs/ADCs_Unit/Des_ADC1/Des_DCH2/ISERDESE1_DCHn" LOC = ILOGIC_X2Y172;
NET "DCH2_P" LOC = G8;
NET "DCH2_N" LOC = G9;
#
INST "ADCs/ADCs_Unit/Des_ADC1/Des_DCH3/IODELAYE1_DCHp" LOC = IODELAY_X2Y171;
INST "ADCs/ADCs_Unit/Des_ADC1/Des_DCH3/ISERDESE1_DCHp" LOC = ILOGIC_X2Y171;
INST "ADCs/ADCs_Unit/Des_ADC1/Des_DCH3/IODELAYE1_DCHn" LOC = IODELAY_X2Y170;
INST "ADCs/ADCs_Unit/Des_ADC1/Des_DCH3/ISERDESE1_DCHn" LOC = ILOGIC_X2Y170;
NET "DCH3_P" LOC = D7;
NET "DCH3_N" LOC = E7;
#
INST "ADCs/ADCs_Unit/Des_ADC1/Des_DCH4/IODELAYE1_DCHp" LOC = IODELAY_X2Y169;
INST "ADCs/ADCs_Unit/Des_ADC1/Des_DCH4/ISERDESE1_DCHp" LOC = ILOGIC_X2Y169;
INST "ADCs/ADCs_Unit/Des_ADC1/Des_DCH4/IODELAYE1_DCHn" LOC = IODELAY_X2Y168;
INST "ADCs/ADCs_Unit/Des_ADC1/Des_DCH4/ISERDESE1_DCHn" LOC = ILOGIC_X2Y168;
NET "DCH4_P" LOC = H8;
NET "DCH4_N" LOC = H9;
#
INST "ADCs/ADCs_Unit/Des_ADC1/Des_DCH5/IODELAYE1_DCHp" LOC = IODELAY_X2Y167;
INST "ADCs/ADCs_Unit/Des_ADC1/Des_DCH5/ISERDESE1_DCHp" LOC = ILOGIC_X2Y167;
INST "ADCs/ADCs_Unit/Des_ADC1/Des_DCH5/IODELAYE1_DCHn" LOC = IODELAY_X2Y166;
INST "ADCs/ADCs_Unit/Des_ADC1/Des_DCH5/ISERDESE1_DCHn" LOC = ILOGIC_X2Y166;
NET "DCH5_P" LOC = J11;
NET "DCH5_N" LOC = J10;
#
INST "ADCs/ADCs_Unit/Des_ADC1/Des_DCH6/IODELAYE1_DCHp" LOC = IODELAY_X2Y165;
INST "ADCs/ADCs_Unit/Des_ADC1/Des_DCH6/ISERDESE1_DCHp" LOC = ILOGIC_X2Y165;
INST "ADCs/ADCs_Unit/Des_ADC1/Des_DCH6/IODELAYE1_DCHn" LOC = IODELAY_X2Y164;
INST "ADCs/ADCs_Unit/Des_ADC1/Des_DCH6/ISERDESE1_DCHn" LOC = ILOGIC_X2Y164;
NET "DCH6_P" LOC = J7;
NET "DCH6_N" LOC = J8;
#
INST "ADCs/ADCs_Unit/Des_ADC1/Des_DCH7/IODELAYE1_DCHp" LOC = IODELAY_X2Y163;
INST "ADCs/ADCs_Unit/Des_ADC1/Des_DCH7/ISERDESE1_DCHp" LOC = ILOGIC_X2Y163;
INST "ADCs/ADCs_Unit/Des_ADC1/Des_DCH7/IODELAYE1_DCHn" LOC = IODELAY_X2Y162;
INST "ADCs/ADCs_Unit/Des_ADC1/Des_DCH7/ISERDESE1_DCHn" LOC = ILOGIC_X2Y162;
NET "DCH7_P" LOC = K9;
NET "DCH7_N" LOC = K10;
#
INST "ADCs/ADCs_Unit/Des_ADC1/Des_DCH8/IODELAYE1_DCHp" LOC = IODELAY_X2Y161;
INST "ADCs/ADCs_Unit/Des_ADC1/Des_DCH8/ISERDESE1_DCHp" LOC = ILOGIC_X2Y161;
INST "ADCs/ADCs_Unit/Des_ADC1/Des_DCH8/IODELAYE1_DCHn" LOC = IODELAY_X2Y160;
INST "ADCs/ADCs_Unit/Des_ADC1/Des_DCH8/ISERDESE1_DCHn" LOC = ILOGIC_X2Y160;
NET "DCH8_P" LOC = K7;
NET "DCH8_N" LOC = L7;
#
#
### ADC2
### DCO
NET "DCO2_P" CLOCK_DEDICATED_ROUTE = FALSE;
NET "DCO2_N" CLOCK_DEDICATED_ROUTE = FALSE;
NET "DCO2_P" LOC = B8;
NET "DCO2_N" LOC = C8;
#
## FCO
##Invertido
NET "FCO2_P" CLOCK_DEDICATED_ROUTE = FALSE;
NET "FCO2_N" CLOCK_DEDICATED_ROUTE = FALSE;
NET "FCO2_P" LOC = D11;	
NET "FCO2_N" LOC = E12;	
#
#### ENTRADAS DE DATOS
INST "ADCs/ADCs_Unit/Des_ADC2/Des_DCH1/IODELAYE1_DCHp" LOC = IODELAY_X2Y195;
INST "ADCs/ADCs_Unit/Des_ADC2/Des_DCH1/ISERDESE1_DCHp" LOC = ILOGIC_X2Y195;
INST "ADCs/ADCs_Unit/Des_ADC2/Des_DCH1/IODELAYE1_DCHn" LOC = IODELAY_X2Y194;
INST "ADCs/ADCs_Unit/Des_ADC2/Des_DCH1/ISERDESE1_DCHn" LOC = ILOGIC_X2Y194;
NET "DCH9_P" LOC = A10;
NET "DCH9_N" LOC = A9;
#
INST "ADCs/ADCs_Unit/Des_ADC2/Des_DCH2/IODELAYE1_DCHp" LOC = IODELAY_X2Y193;
INST "ADCs/ADCs_Unit/Des_ADC2/Des_DCH2/ISERDESE1_DCHp" LOC = ILOGIC_X2Y193;
INST "ADCs/ADCs_Unit/Des_ADC2/Des_DCH2/IODELAYE1_DCHn" LOC = IODELAY_X2Y192;
INST "ADCs/ADCs_Unit/Des_ADC2/Des_DCH2/ISERDESE1_DCHn" LOC = ILOGIC_X2Y192;
NET "DCH10_P" LOC = A7;
NET "DCH10_N" LOC = B7;
#
INST "ADCs/ADCs_Unit/Des_ADC2/Des_DCH3/IODELAYE1_DCHp" LOC = IODELAY_X2Y191;
INST "ADCs/ADCs_Unit/Des_ADC2/Des_DCH3/ISERDESE1_DCHp" LOC = ILOGIC_X2Y191;
INST "ADCs/ADCs_Unit/Des_ADC2/Des_DCH3/IODELAYE1_DCHn" LOC = IODELAY_X2Y190;
INST "ADCs/ADCs_Unit/Des_ADC2/Des_DCH3/ISERDESE1_DCHn" LOC = ILOGIC_X2Y190;
NET "DCH11_P" LOC = H13;
NET "DCH11_N" LOC = J13;
#
INST "ADCs/ADCs_Unit/Des_ADC2/Des_DCH4/IODELAYE1_DCHp" LOC = IODELAY_X2Y189;
INST "ADCs/ADCs_Unit/Des_ADC2/Des_DCH4/ISERDESE1_DCHp" LOC = ILOGIC_X2Y189;
INST "ADCs/ADCs_Unit/Des_ADC2/Des_DCH4/IODELAYE1_DCHn" LOC = IODELAY_X2Y188;
INST "ADCs/ADCs_Unit/Des_ADC2/Des_DCH4/ISERDESE1_DCHn" LOC = ILOGIC_X2Y188;
NET "DCH12_P" LOC = D8;
NET "DCH12_N" LOC = E9;
#
INST "ADCs/ADCs_Unit/Des_ADC2/Des_DCH5/IODELAYE1_DCHp" LOC = IODELAY_X2Y187;
INST "ADCs/ADCs_Unit/Des_ADC2/Des_DCH5/ISERDESE1_DCHp" LOC = ILOGIC_X2Y187;
INST "ADCs/ADCs_Unit/Des_ADC2/Des_DCH5/IODELAYE1_DCHn" LOC = IODELAY_X2Y186;
INST "ADCs/ADCs_Unit/Des_ADC2/Des_DCH5/ISERDESE1_DCHn" LOC = ILOGIC_X2Y186;
NET "DCH13_P" LOC = G11;
NET "DCH13_N" LOC = F10;
#
INST "ADCs/ADCs_Unit/Des_ADC2/Des_DCH6/IODELAYE1_DCHp" LOC = IODELAY_X2Y185;
INST "ADCs/ADCs_Unit/Des_ADC2/Des_DCH6/ISERDESE1_DCHp" LOC = ILOGIC_X2Y185;
INST "ADCs/ADCs_Unit/Des_ADC2/Des_DCH6/IODELAYE1_DCHn" LOC = IODELAY_X2Y184;
INST "ADCs/ADCs_Unit/Des_ADC2/Des_DCH6/ISERDESE1_DCHn" LOC = ILOGIC_X2Y184;
NET "DCH14_P" LOC = E8;
NET "DCH14_N" LOC = F9;
#
INST "ADCs/ADCs_Unit/Des_ADC2/Des_DCH7/IODELAYE1_DCHp" LOC = IODELAY_X2Y183;
INST "ADCs/ADCs_Unit/Des_ADC2/Des_DCH7/ISERDESE1_DCHp" LOC = ILOGIC_X2Y183;
INST "ADCs/ADCs_Unit/Des_ADC2/Des_DCH7/IODELAYE1_DCHn" LOC = IODELAY_X2Y182;
INST "ADCs/ADCs_Unit/Des_ADC2/Des_DCH7/ISERDESE1_DCHn" LOC = ILOGIC_X2Y182;
NET "DCH15_P" LOC = D10;
NET "DCH15_N" LOC = C10;
#
INST "ADCs/ADCs_Unit/Des_ADC2/Des_DCH8/IODELAYE1_DCHp" LOC = IODELAY_X2Y181;
INST "ADCs/ADCs_Unit/Des_ADC2/Des_DCH8/ISERDESE1_DCHp" LOC = ILOGIC_X2Y181;
INST "ADCs/ADCs_Unit/Des_ADC2/Des_DCH8/IODELAYE1_DCHn" LOC = IODELAY_X2Y180;
INST "ADCs/ADCs_Unit/Des_ADC2/Des_DCH8/ISERDESE1_DCHn" LOC = ILOGIC_X2Y180;
NET "DCH16_P" LOC = F7;
NET "DCH16_N" LOC = G7;

# PlanAhead generated physical constraints 
#INST "ADCs/bufg_dcm0" LOC = BUFGCTRL_X0Y0;
#INST "ADCs/DCM_ADV_clk" LOC = DCM_ADV_X0Y5;
#
INST "ADCs/ADCs_Unit/Des_ADC1/DCM_ctrl/MMCM_ADV_des" LOC = MMCM_ADV_X0Y8;
INST "ADCs/ADCs_Unit/Des_ADC2/DCM_ctrl/MMCM_ADV_des" LOC = MMCM_ADV_X0Y9;
#
INST "ADCs/ADCs_Unit/Des_ADC1/DCM_ctrl/bufg_DCO" LOC = BUFGCTRL_X0Y31;
INST "ADCs/ADCs_Unit/Des_ADC1/DCM_ctrl/BUFR_FCO" LOC = BUFR_X1Y6;
#INST "ADCs/ADCs_Unit/Des_ADC1/DCM_ctrl/bufg_FCO2" LOC = BUFGCTRL_X0Y24;
INST "ADCs/ADCs_Unit/Des_ADC2/DCM_ctrl/bufg_DCO" LOC = BUFGCTRL_X0Y30;
INST "ADCs/ADCs_Unit/Des_ADC2/DCM_ctrl/BUFR_FCO" LOC = BUFR_X1Y4;
#INST "ADCs/ADCs_Unit/Des_ADC2/DCM_ctrl/bufg_FCO2" LOC = BUFGCTRL_X0Y28;


# PlanAhead generated physical constraints 
#INST "ADCs_Unit/IDELAYCTRL_refiod" LOC = IDELAYCTRL_X0Y4;
#INST "ADCs_Unit/IDELAYCTRL_refiod" LOC = IDELAYCTRL_X1Y4;
#INST "ADCs_Unit/IDELAYCTRL_refiod" LOC = IDELAYCTRL_X2Y4;


# ADCs control
NET "csb1" 		LOC = AH15;
NET "csb2" 		LOC = AH16;
NET "pwb1" 		LOC = AG14;
NET "pwb2" 		LOC = AF15;
#
NET "sclk" 		LOC = AH14;
NET "sdata" 	LOC = AH13;
NET "resetb" 	LOC = W12;

# FEC_T0 - ADC iniput digital 3.3V
NET "csb1" 	IOSTANDARD = LVCMOS25;NET "csb1" DRIVE = 6;NET "csb1" SLEW = SLOW;
NET "pwb1" 	IOSTANDARD = LVCMOS25;NET "pwb1" DRIVE = 6;NET "pwb1" SLEW = SLOW;
NET "csb2" 	IOSTANDARD = LVCMOS25;NET "csb2" DRIVE = 6;NET "csb2" SLEW = SLOW;
NET "pwb2" 	IOSTANDARD = LVCMOS25;NET "pwb2" DRIVE = 6;NET "pwb2" SLEW = SLOW;
#
NET "sclk" 	IOSTANDARD = LVCMOS25;NET "sclk" DRIVE = 12;NET "sclk" SLEW = SLOW;
NET "sdata" IOSTANDARD = LVCMOS25;NET "sdata" DRIVE = 12;NET "sdata" SLEW = SLOW;
NET "resetb" IOSTANDARD = LVCMOS25;NET "resetb" DRIVE = 6;NET "resetb" SLEW = SLOW;

# A-CONNECTOR
NET "A_PRSNT_B"   LOC = AB24 | IOSTANDARD = LVCMOS25;
#NET "A_PWGOOD_B" 	LOC = AH23 | IOSTANDARD = LVCMOS25 | PULLUP;
#
NET "CONVST_A_N"  LOC = D16 | IOSTANDARD = LVCMOS25;
NET "PW_EN_A"     LOC = C16 | IOSTANDARD = LVCMOS25;
#
NET "trg_p"       LOC = C14 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "trg_n"       LOC = B13 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "bclk_p"      LOC = F11 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "bclk_n"      LOC = E10 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
#
## B-CONNECTOR
NET "B_PRSNT_B"   LOC = AF9  | IOSTANDARD = LVCMOS25;
#NET "B_PWGOOD_B" 	LOC = AE9 | IOSTANDARD = LVCMOS33 | PULLUP;
#
NET "CONVST_B_N"  LOC = AC13 | IOSTANDARD = LVCMOS25;
NET "PW_EN_B"     LOC = AB12 | IOSTANDARD = LVCMOS25;
#
NET "i2c0_rst"    LOC = AB13 | IOSTANDARD = LVCMOS25;
NET "scl0"        LOC = AA12 | IOSTANDARD = LVCMOS25;
NET "sda0"        LOC = Y13  | IOSTANDARD = LVCMOS25;
NET "scl1"        LOC = AD12 | IOSTANDARD = LVCMOS25 | PULLUP;
NET "sda1"        LOC = AE13 | IOSTANDARD = LVCMOS25 | PULLUP;

# Reset hard de las tarjetas
NET "SWRST"	      LOC = V19;


# LEDS
NET "led[0]"  LOC = AB22 | DRIVE = 6 | SLEW = SLOW;		
NET "led[1]"  LOC = AA22 | DRIVE = 6 | SLEW = SLOW;	





